<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div class = "error_container">
        <h1 style = "color:red;">ERROR: {{error_msg}}</h1>
    </div>
</body>
</html>
